.admin-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-top:20px;

}
.first-container{
    background-color:#cbcbcb;
    width:80vw;
    height:70vh;
    padding-left:20px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top:20px;

}
.second-container{
    background-color:#cbcbcb;
    width:80vw;
    height:70vh;
    padding-left:20px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top:20px;

}
#utilisateurs {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
   
  }
  
  #utilisateurs td, #utilisateurs th {
    border: 1px solid #ddd;
    padding: 8px;
  
  }

  
  #utilisateurs tr:nth-child(even){background-color: #ffefd9;}
  
  #utilisateurs tr:hover {background-color: #ddd;}
  
  #utilisateurs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #de7e00;
    color: white;
   
  }
.header-container{
    display: flex;
    align-items: center;
    gap:40px;
}
.add-button{
    text-decoration: none;
    color:white;
    background-color: rgb(217, 112, 0);
    
    border-radius: 10px;
    text-align: center;
    padding:20px;
}
.add-button:hover{
    background-color: rgb(191, 99, 0);
}
.form-ajouter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    width: 50%;
    height:60%;
    min-width: 500px;
    border-radius: 10px;;
    
}
.main-ajouter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80vh;
    font-family: Arial, Helvetica, sans-serif;
}
.ajouter-button{
    text-decoration: none;
    color:white;
    background-color: rgb(217, 112, 0);
    height:35px;
    width:auto;
    border-radius: 5px;
    text-align: center;
    padding:8px;
    border:none;
    padding-left:25px;
    padding-right:25px;
    cursor: pointer;
    padding-right:145px;
    padding-left:145px;
}
.ajouter-button:hover{
    background-color: rgb(182, 94, 0);
}
.form-ajouter input{
    margin-bottom:10px;
    height:35px;
    border-radius: 5px;
    border:1px solid black ;
    padding-left:8px;
    padding-right:145px;
}